body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    margin: 0;
}

.header {
    color: transparent;
    font-size: 40px;
}

.gameArea {
    border: 3px solid black;
    border-radius: 20px;
    display: none;
    align-items: flex-end;
    margin: 0 50px 300px 0;
}

.btnCont {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 20px;
    width: 115px;
}

.pCont {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    margin-right: 30px;
}

.cCont {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
}

.btn {
    height: 75px;
    /* border-radius: 150px; */
    border: 3px solid transparent;
    margin: 6px;
    transition: box-shadow .4s;
    transition: transform .4s;
    box-shadow: 0 0 15px transparent;
    cursor: pointer;
    /* padding: 10px; */
}

.paper.btn {
    height: 83px;
}

.pAv {
    width: 100px;
    border-radius: 20px;
    margin-left: 20px;
}

.cAv {
    width: 120px;
    border-radius: 20px;
}

.pSelect {
    border: 3px solid rgb(40, 90, 102);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.cSelect {
    border: 3px solid rgb(40, 90, 102);
    border-radius: 20px;
    width: 300px;
    height: 300px;
    margin-bottom: 20px;
    margin-right: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.vs {
    font-size: 36px;
    margin: 0 25px 150px 25px;
}

.pHeader {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cHeader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 50px;
}

.digit {
    height: 50px;
    border-radius: 5px;
}

.pScoreBoard {
    margin-left: 20px;
    border-radius: 10px;
    padding: 5px;
    transition: all .4s;
}

.cScoreBoard {
    margin-right: 10px;
    border-radius: 10px;
    padding: 5px;
    transition: all .4s;
}

.selectImg {
    height: 150px;
}

.popUp {
    position: absolute;
    width: 500px;
    height: 250px;
    background-color: rgb(40, 90, 102);
    margin-top: 155px;
    margin-right: 48px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.popUpText {
    font-size: 28px;
    font-weight: 400;
    text-align: center;
    color: papayawhip;
    cursor: default;
    margin-top: 40px;
}

.popUpButton {
    border: 1px solid black;
    background-color: papayawhip;
    border-radius: 5px;
    margin-bottom: 60px;
    padding: 10px;
    font-size: 24px;
    cursor: pointer;
}